<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p><b>Jashvina Devadoss</b></p>
    <p>Research Assistant</p>
    <p>Earth and Environmental Engineering</p>
    <img src="/static/images/headshot.jpg" alt="Headshot">
    <p><a href="/ENGI1006">ENGI1006 Assignments</a></p>
    <p><a href="/courses">Favorite course at Columbia so far</a></p>
    <p>Quarantine diversions: <a href="https://baynature.org/">nature articles</a>, <a href="https://www.livefromhere.org/">live music</a>, and <a href="https://www.metopera.org/user-information/nightly-met-opera-streams/">opera</a>
    </body>
</html>

