<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p><h1>Jashvina Devadoss</h1></p>
    <p><h3>Research Assistant</h3></p>
    <p><h3>Earth and Environmental Engineering</h3></p>
    <img src="/static/images/headshot.jpg" alt="Headshot">
    <p><b>ENGI1006 Course Overview</b></p>
    <p><a href="/hw1a">Homework 1A:</a> Writing a program, Pseudocode, Boolean logic, Binary numbers</p>
    <p><a href="/hw1b">Homework 1B:</a> Writing a program, Python style guidelines</p>
    <p><a href="/hw2a">Homework 2A:</a> Evaluating algorithms (Time complexity)</p>
    <p><a href="/hw2b">Homework 2B:</a> Simulations</p>
    <p>Quarantine diversions: <a href="https://baynature.org/">nature articles</a>, <a href="https://www.livefromhere.org/">live music</a>, and <a href="https://www.metopera.org/user-information/nightly-met-opera-streams/">opera</a>
    </body>
</html>

