<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Homework 1A</title>
    <head>
    <body>
    
    <h2>Homework 1A: Writing a program, Pseudocode, Boolean logic, Binary numbers</h2>
    
    <h3>How to write a program:</h3>
    <ol>
        <li>write <b>pseudocode</b></li>
        <li>follow <b>stylistic guidelines</b>: organize the programs into small, 
        self-contained, reusable chunks of code (functions), using a main() 
        function to execute the program.  Use whitespace and comments for 
        readability and interpretability. Remember that the program should 
        always terminate!</li>
        <li>develop the <b>logic of solving the problem</b>. Use algorithms to 
        understand how to solve a problem.  An algorithm is a <i>series</i> of a 
        <i>finite</i> number of <i>steps</i> which you use to come to an 
        <i>answer</i> to a problem</li>
        <li>Manage data.  Use <b>data structures</b> to keep track of data.</li>
    </ol>
    
    <p>The <b>major structural components</b> of a program are: 
    <ol>
        <li>an ordered <b>sequence</b> of steps</li> 
        <li>values stored in variables by <b>assignment</b></li> 
        <li>comparison by <b>boolean logic</b></li>  
        <li><b>control flow</b> through selective execution of sections of the code 
        with conditional statements (if-elseif-else)</li> 
        <li>sections of the code iteratively executed through <b>looping</b> (for & while loops)</li> 
        <li>blocks of predefined code, or <b>functions</b>, are executed by calling that code</li> 
        <li><b>user input and program output (I/O)</b></li> 
        <li>the use of <b>randomness</b> (e.g. for choosing a subset of samples)</li>
    </ol> 
    
    <h4>Pseudocode</h4>
    <p>We wrote an algorithm using pseudocode, a step by step plan for code 
    structure that is not specific to any programming language.  Writing 
    pseudocode is a useful step before writing a program, because it helps 
    organize the structure and catch bugs, holes in logic, and “edge cases”, 
    e.g. in Homework 1A we wrote pseudocode to calculate when a bank account is
     depleted based on interest and withdrawal rates— it is important to account
      for a variety of inputs (or “edge cases”) such that an infinite loop would
       be avoided if the bank account was actually accruing money rather than 
       being depleted. </p>

    <h4>Boolean logic</h4> 
    <p>We briefly covered Boolean logic, such that True AND True AND False == 
    False (If any one component is False in an AND statement, the whole 
    statement is False), True OR False or False == False (if any one component 
    is True in an OR statement, the whole statement is True), and NOT True == 
    False.</p>
        
    <h4>Binary numbers</h4>
    <p>We wrote integers in positive binary, signed binary, 
    one’s complement, two’s complement, and octal.  We discussed how computers
    represent negative numbers, as well as add and subtract numbers.<br>
    Here is a positive binary example:<pre>
    0011 = 1*(2^0) + 1*(2^1) + 0*(2^2) + 0*(2^3) = 1 + 2 = 3 </pre>
    We added binary numbers: <pre>
          11
        0011
      + 0011
        0110 = 0*(2^0) + 1*(2^1) + 1*(2^2) + 0*(2^3) = 2 + 4 = 6</pre></p>
    </body>
</html>

