<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Homework 1B</title>
    <head>
    <body>
    
    <h2>Homework 1B: Writing a program, Python style guidelines </h2>
    <p>We wrote a series of functions to create two programs, each executed by 
    a main function.  One program used user input to return data about the 
    user’s name, while the other manipulated elements in lists. We tested our 
    code using a tester file that executed the code and checked the outputs.</p>
    
    <p>We wrote the programs using the <a href="https://www.python.org/dev/peps/pep-0008/">Python style guidelines:</a>
    <ol>
        <li>Write a <b>header</b> for every file with the name of the author of the
         file and an overview of the functions in the file.</li>
        <li><b>Import statements</b> for libraries should be at the top of the file,
         so that imports are global.</li> 
        <li>Use <b>whitespace</b> to improve readability.  Use a <i>space</i> around 
        arithmetic operators, such as =, +, -, *, an <i>empty line</i> between chunks 
        of code, and <i>two lines</i> between each function.</li> 
        <li>Write <b>docstring comments</b> for every function, describing what the
         function does.  ‘ ‘ ‘ Sample docstring format ‘ ‘ ‘</li> 
        <li>Limit <b>line length</b> to 79 characters. Spyder has a helpful page 
        break indicating the 79 character mark.</li> 
        <li><b>Comment</b> logical blocks of code, so that someone else can 
        understand that block of code just by reading the comment. </li> 
        <li>Maintain uniform <b>indentation</b>- a single indentation block is 
        defined by four spaces or one tab.</li> 
        <li>Create <b>descriptive variable and function names</b> that explain the 
        purpose of the variable or function.</li> 
        <li><b>Avoid global variables</b> defined outside a function, because they 
        are expensive memory-wise.</li> 
        <li>Big picture: use uniform, coherent <b>file structure</b>.  Each Python
         file should start with a header, followed by import statements, 
         followed by functions.</li>  </p>

      </body>
</html>

